rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Default-deny catch-all safety net
    match /{document=**} {
      allow read, write: if false;
    }

    // Matches Collection rules
    match /matches/{matchId} {
      allow read, write: if true;
    }

    // News Articles Collection rules
    match /news/{newsId} {
      allow read, write: if true;
    }
  }
}
